<div class="container">
  <div class="title">
    <h1 class="d-flex justify-content-between align-items-center">
      <div>
        <a routerLink="/">Home</a> / <a>Desenhar</a>
      </div>
      <div class="h6 m-2 mt-0 mb-0">
        <i class="fas fa-users"></i>
        <strong> {{connectedPeoples}} pessoas conectadas</strong>
      </div>
    </h1>
    <p>
      Desperte o artista que há em você! Se divirta com o Canvas, desenhando e colorindo o que quiser. <br>
      Crie desenhos incríveis com o Canvas e permita que seus amigos e familiares vejam suas obras de arte em tempo
      real.
    </p>

    <div class="alert alert-info" *ngIf="party_name">
      <i class="fas fa-info-circle"></i>
      <strong> Info:</strong> Para que seus amigos e familiares vejam seus desenhos em tempo real,
      basta compartilhar o link da página com eles.

      <div class="link-page">
        <input type="text" value="{{party_url}}">
        <button class="btn btn-primary btn-sm" id="btn-copy" (click)="copy(party_url)">
          <i class="fas fa-copy"></i>
        </button>
      </div>

    </div>
  </div>

  <div class="canvas disabled" #canvas_div>

    <div class="toolbar">
      <div class="toolbar__item">
        <a class="toolbar__button" id="btn-undo" (click)="undo()">
          <i class="fas fa-undo"></i>
        </a>
        <a class="toolbar__button" id="btn-redo" (click)="redo()">
          <i class="fas fa-redo"></i>
        </a>
      </div>

      <div class="toolbar__item">
        <a class="toolbar__button" id="btn-pencil" (click)="setEraser(false)">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a class="toolbar__button" id="btn-eraser" (click)="setEraser(true)">
          <i class="fas fa-eraser"></i>
        </a>

        <div class="size-div">
          <input type="range" max="100" min="3" (change)="changeSize($event)" value="{{currentSize}}">
        </div>
      </div>

      <div class="toolbar__item">
        <div *ngFor="let color of colors" class="color" [style]="'background:' + color" (click)="changeColor($event)"
             [attr.data-color]="color">
        </div>

        <div class="color-div">
          <label>
            <input type="text" class="text-input" value="{{currentColor}}" (change)="changeColor($event)">
            <input type="color" value="{{currentColor}}" class="color-input" (input)="changeColor($event)">
          </label>
        </div>
      </div>

      <div class="toolbar__item">
        <a class="color-bg" *ngFor="let color of colors" [style]="'background:' + color" (click)="fill($event)">
          <i class="fas fa-paint-roller color-bg" [attr.data-color]="color">
          </i>
        </a>
        <div class="color-div">
          <label>
            <input type="text" class="text-input" value="{{currentColorBg}}" (change)="fill($event)">
            <input type="color" value="{{currentColorBg}}" class="color-input" (change)="fill($event)">
          </label>
        </div>
      </div>

    </div>
    <canvas class="canvas-container" width="800" height="600" #canvas></canvas>
    <div class="mouse-follow" #cursor></div>
  </div>

</div>
